<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absinthe-client</key>
	<string>143531244</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>auth-key-vault-client</key>
	<string>2093460704</string>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>com.apple.CommCenter.Preferences-delete</key>
	<true/>
	<key>com.apple.CommCenter.Preferences-write-access</key>
	<true/>
	<key>com.apple.MobileInternetSharing.allow</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>preferences.plist</string>
		<string>com.apple.AutoWake.xml</string>
		<string>com.apple.radios.plist</string>
		<string>com.apple.virtualMemoryMode.plist</string>
		<string>OSThermalStatus.plist</string>
		<string>com.apple.jetsam.plist</string>
	</array>
	<key>com.apple.UIKit.status-bar-override-allow</key>
	<true/>
	<key>com.apple.accounts.allaccounts</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.defaults_access</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.mediastream.mstreamd-access</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.nvram.boot-args-set-allow</key>
	<true/>
	<key>com.apple.remotenotification.preferences</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.wipedevice</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.twitter.affectTweetSheetWhiteList</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.certificates</string>
		<string>com.apple.identities</string>
		<string>appleaccount</string>
		<string>com.apple.mobilemail.smime</string>
		<string>com.apple.preferences</string>
		<string>com.apple.cfnetwork</string>
	</array>
	<key>modify-anchor-certificates</key>
	<true/>
</dict>
</plist>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.private.tcc.allow.overridable</key>
    <array>
        <string>kTCCServiceAddressBook</string>
        <string>kTCCServiceCalendar</string>
        <string>kTCCServicePhotos</string>
    </array>
</dict>
</plist>
//To hide your app from the Simulator's Privacy Settings screens, 
//replace com.apple.private.tcc.allow.overridable with com.apple.private.tcc.allow.
